language: ruby
sudo: false

before_install:
  - "rm -f ${BUNDLE_GEMFILE}.lock"

services:
  - mysql

before_script:
  - bundle update
  - mysql -e 'create database archiving_test'
  - cd test/dummy
  - RAILS_ENV=test bundle exec rake db:migrate
  - cd ../..

cache: bundler

rvm:
  - 2.1.6
  - 2.2.5
  - 2.3.1

gemfile:
  - gemfiles/active_record-4.2.gemfile
  - gemfiles/active_record-5.0.gemfile
  - gemfiles/active_record-6.0.gemfile

matrix:
  fast_finish: true
  exclude:
    - rvm: 2.1.6
      gemfile: gemfiles/active_record-6.0.gemfile

notifications:
  email: false
